body {
  background-color: darkslategray;
}

.container {
  background-color: lightgray;
  padding: 3em;
}

li a {
  color: black;
  font-weight: bold;
}

button a {
  color: white;
}

.initially-hidden {
  display: none;
}

.bordered {
  border: 2px solid black;
  padding: .2em;
}

li {
  list-style-type: none;
  margin: .2em;
}

.license-check:before {
  content: '✓';
}

.matched {
  background-color: lightgreen;
}