@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>@Model.MachineName</h3>

<div id="edit-div">
  @await Html.PartialAsync("_EditPartial", Model)
</div>

<div id="licenses-div" class="bordered">
  @await Html.PartialAsync("_ManageLicensesPartial", Model, ViewData)
</div>

<div id="delete-div">
  @await Html.PartialAsync("_DeletePartial", Model)
</div>

<form action="/" method="get">
  <button class="btn btn-dark">Return to database management homepage</button>
</form>

<script src="~/js/details.js"></script>