@using Factory.Models;

@model Factory.Models.Engineer

<h5>@Model.FullName's Licenses:</h5>
<ul id="license-list">
  @foreach (Machine machine in ViewData["Machines"] as List<Machine>)
  {
    if (Model.Licenses.Where(license => license.MachineId == machine.MachineId).Count() > 0)
    {
      <form action="/Engineers/RemoveLicense" method="post">
        <li class="license-check">
          @machine.MachineName 
          <button class="btn btn-dark btn-sm remove-license-button">Remove License</button>
          <input class="engineer-id" type="hidden" value=@Model.EngineerId />
          <input class="machine-id" type="hidden" value=@machine.MachineId />
        </li>
      </form>
    }
    else
    {
      <form action="/Engineers/AddLicense" method="post">
        <li>
          @machine.MachineName 
          <button class="btn btn-dark btn-sm add-license-button">Add License</button>
          <input class="engineer-id" type="hidden" value=@Model.EngineerId />
          <input class="machine-id" type="hidden" value=@machine.MachineId />
        </li>
      </form>
    }
  }
</ul>

<script>
  $(".remove-license-button").on("click", function(event) {
    event.preventDefault();
    let engineerId = $(this).siblings(".engineer-id").val();
    let machineId = $(this).siblings(".machine-id").val();
    $("#licenses-div").load("/Engineers/RemoveLicense", {EngineerId: engineerId, MachineId: machineId})
  });

  $(".add-license-button").on("click", function(event) {
    event.preventDefault();
    let engineerId = $(this).siblings(".engineer-id").val();
    let machineId = $(this).siblings(".machine-id").val();
    $("#licenses-div").load("/Engineers/AddLicense", {EngineerId: engineerId, MachineId: machineId})
  });
</script>